{% extends "base.html" %}
{% block title %}<title>{{ noticia.title }}</title>{% endblock %}
{% block content %}
<div class="card" >
  <div class="card-body">
    <h5 class="card-title">{{ noticia.title }}</h5>
    <p class="card-text">{{ noticia.text|linebreaks }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Autor: {{ noticia.autor }}</li>
    <li class="list-group-item">Creado: {{ noticia.created_date }}</li>
    <li class="list-group-item">Publicado: {{ noticia.published_date }}</li>
  </ul>
</div>
{% endblock %}